node_modules
.DS_Store
.turbo
.build
DerivedData
dist
build
coverage
*.log
.swiftpm
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata
.env
apps/mobile/.env
.expo
.expo-shared
android
ios
*.tsbuildinfo
services/api-gateway/data/
